@tailwind base;
@tailwind components;
@tailwind utilities;

/* 你自定义的样式 */
body {
  background-color: #0f172a;
  color: #e2e8f0;
}
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: #1e293b; }
::-webkit-scrollbar-thumb { background: #475569; border-radius: 4px; }
